# Import Pandas

In [7]:
import pandas as pd

# Reading Data

In [ ]:
# Read CSV
df = pd.read_csv('filename.csv')

# Read Excel
df = pd.read_excel('filename.xlsx')

# Display first few rows
df.head()

# Display last few rows
df.tail()

# Basic Information

In [ ]:
# Display DataFrame info
df.info()

# Summary statistics
df.describe()

# Number of non-null values in each column
df.count()

# Selection and Filtering

In [ ]:
# Select a single column
df['column_name']

# Select multiple columns
df[['column1', 'column2']]

# Filter rows based on condition
df[df['column'] > 10]

# Multiple conditions
df[(df['column1'] > 10) & (df['column2'] == 'value')]

# Data Cleaning

In [ ]:
# Drop missing values
df.dropna()

# Fill missing values
df.fillna(value)

# Drop duplicates
df.drop_duplicates()

# Data Manipulation

In [ ]:
# Add a new column
df['new_column'] = value

# Remove a column
df.drop('column_name', axis=1, inplace=True)

# Rename columns
df.rename(columns={'old_name': 'new_name'}, inplace=True)

# Sorting
df.sort_values(by='column_name', ascending=True)

# Grouping and Aggregation

In [ ]:
# Group by a column
grouped = df.groupby('column_name')

# Aggregation functions
grouped['column_name'].mean()
grouped['column_name'].sum()

# Merging and Concatenation

In [ ]:
# Concatenate DataFrames vertically
result = pd.concat([df1, df2])

# Concatenate DataFrames horizontally
result = pd.concat([df1, df2], axis=1)

# Merge DataFrames
merged = pd.merge(df1, df2, on='common_column')

# Saving Data

In [ ]:
# Save to CSV
df.to_csv('output.csv', index=False)

# Save to Excel
df.to_excel('output.xlsx', index=False)