# Type of variables

In [1]:
x0=123  # variable store int

In [ ]:
x1=1.43 # variable store float

In [3]:
x2="string" # variable store string

In [4]:
x3=False # variable store boolean False or True

# Changing the type of variable

In [18]:
x=10
print(x,type(x))

10 <class 'int'>

In [19]:
x=10
x=float(x)
print(x,type(x))

10.0 <class 'float'>

In [20]:
x=10
x=str(x)
print(x,type(x))

10 <class 'str'>

In [22]:
x=10.5
print(x)
x=int(x)
print(x,type(x))

10.5
10 <class 'int'>

In [24]:
x=True
print(x,type(x))
x=str(x)
print(x,type(x))

True <class 'bool'>
True <class 'str'>

In [25]:
x='True'
print(x,type(x))
x=bool(x)
print(x,type(x))

True <class 'str'>
True <class 'bool'>

# loops

### For loap always i-1 ---------------------------------------------------------------

In [6]:
for i in range(5):
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4

In [9]:
length=5
for i in range(length):
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4

In [12]:
for i in range(2,5):
    print('i=',i)

i= 2
i= 3
i= 4

In [8]:
list1=[1,2,3,4,5]
lenght=len(list1)

for i in range(lenght):
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4

In [19]:
names=['ahmed','fahad','khalid']

for i in range(3):
    string_text=f'this is how to add numbers and strings to text   number= {i}    name= {names[i]}'
    print(string_text)

this is how to add numbers and strings to text   number= 0    name= ahmed
this is how to add numbers and strings to text   number= 1    name= fahad
this is how to add numbers and strings to text   number= 2    name= khalid

In [4]:
xx='sss ffhf sss ffhh sss '
xc=xx.split
print(xc)

<built-in method split of str object at 0x000001C96E649930>

### While loop ---------------------------------------------------------------

In [2]:
x=10
while x>3:
    print('x=',x)
    x=x-1

x= 10
x= 9
x= 8
x= 7
x= 6
x= 5
x= 4

In [6]:
x=0
while x<4:
    print('x=',x)
    x=x+1

x= 0
x= 1
x= 2
x= 3

In [8]:
read_inputx=True

while read_inputx == True:
    print('True')
    read_inputx=False

True

In [12]:
read_inputx=True
b='a'
while read_inputx == True:
    print('True')
    if b =='a':
        break
    print('No b != a ')

True

In [13]:
read_inputx=True
b='c'
while read_inputx == True:
    print('True')
    
    if b =='a':
        break
    print('No b != a ') 
    read_inputx=False

True
No b != a

In [14]:
read_inputx=3
b='a'
while read_inputx >=0 :
    print('True')
    read_inputx=read_inputx-1
    if b =='a':
        continue
    print('ABCD ')

True
True
True
True

In [15]:
read_inputx=3
b='v'
while read_inputx >=0 :
    print('True')
    read_inputx=read_inputx-1
    if b =='a':
        continue
    print('ABCD ')

True
ABCD
True
ABCD
True
ABCD
True
ABCD

# List, Tuple, Set, Dictionary

 ## List:

 1-List can be modified

 2-List can be extended after creating it

 3-List data are orginized in fixed storage locations

 4-List data can be dublicated.

In [28]:
x=[1,2,3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [33]:
x=[1,2,3]
x.remove(2)
print(x)

[1, 3]

In [34]:
x=[1,2,3,2]
x.remove(2)
print(x)

[1, 3, 2]

In [39]:
x=[4,6,2,5,3,1]
x=x.sort
print(x)

<built-in method sort of list object at 0x000002CA984A9280>

## Tupule:

1-Fixed can't be modified

2-Data are orginized in fixed storage locations

3-Data can be dublicated

In [41]:
x1=(1,'a',1,'a')
print(x1)

(1, 11, 'a', 1, 'a')

## Set:

1-Data can be modified

2-Data are not orginized in fixed locations

3-Data can't be dublicated

4-Data can be extended

In [45]:
x2={1,1,'aaa','aaa'}
print(x2.remove(1))
print(x2)

None
{'aaa'}

## Dictionary:

1-Data can be modified

2-Data are connected to keys if you need data you need to call its key

3-Data can be extended

4-Data can't be dublicated

In [48]:
x3={'a':"ahmed",'b':"khalid",1:1233,2:'abcd'}

In [47]:
x3['a']='fahad'
x3.
print(x3)

{'a': 'fahad', 'b': 'khalid', 1: 1233, 2: 'abcd'}

In [ ]:
x3.

# Functions:

In [26]:
def print_hello():
    print('hello world')

In [28]:
print_hello()

hello world

In [33]:
def print_hello():
    return 'hello world'

In [34]:
x=print_hello()
print(x)

hello world

In [29]:
def sum_two_numbers(a,b):
    print(a+b)

In [30]:
sum_two_numbers(1,2)

3

In [31]:
def sum_two_numbers(a,b):
    s=a+b
    return s

In [32]:
x=sum_two_numbers(1,2)
print(x)

3

In [36]:
def sum_two_numbers_and_multiply_them(a,b):
    s=a+b
    c=a*b
    return s,c

In [37]:
x0,x1 =sum_two_numbers_and_multiply_them(2,3)
print('x0=',x0)
print('x1=',x1)

x0= 5
x1= 6

# Classes:

In [84]:
class names:
    def __init__ (self,name,age):
       self.name=name
       self.age=age
    
    def print_x(self,x):
        print(x)

In [85]:
ahmed = names('ahmed',23)

In [86]:
ahmed.print_x(5)

5

In [97]:
class names:
    def __init__ (self,name,age):
       self.name=name
       self.age=age

    def __str__(self):
      object_details=f'this object belongs to {self.name} and his age is {self.age}'
      return object_details
    
    
    def print_x(self,x):
        print(x)

    def add_(self,a,b):
        return a+b

In [98]:
Object1= names('Ahmed',23) 
# When we define an object from a class we pass the initial values. The __init__ will take it

In [99]:
Object1.__str__()

'this object belongs to Ahmed and his age is 23'

In [100]:
Object1.print_x(100)

100

In [102]:
x=Object1.add_(2,7)

In [103]:
print(x)

9

### Inheritance in Python

In [104]:
class names:
    def __init__ (self,name,age):
       self.name=name
       self.age=age

    def __str__(self):
      object_details=f'this object belongs to {self.name} and his age is {self.age}'
      return object_details
    
    
    def print_x(self,x):
        print(x)

    def add_(self,a,b):
        return a+b

In [106]:
class child_class(names):
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [107]:
Object2=child_class('khalid',27)

In [109]:
x=Object2.add_(4,6)

In [110]:
print(x)

10

In [112]:
Object2.print_x(200)

200